* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	padding: 15px;
	background: #f5f3ef;
	font-family: "Roboto", sans-serif;
}

.container {
	width: 100%;
	max-width: 1424px;
	margin: 0 auto;
}

.is-center {
	display: flex;
	justify-content: center;
}

.is-position {
	position: absolute;
	right: 0;
	top: 10px;
}

/* header */
header {
	height: 510px;
	background: linear-gradient(
		96.76deg,
		#ffbd43 23.96%,
		rgb(255, 223, 155) 100%
	);
	border-radius: 50px;
	padding-top: 48px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.header-nav {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-logo {
	margin-right: 100px;
	text-decoration: none;
}

.nav-logo img {
	height: 50px;
}

/* nav links */
.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	padding: 5px 15px;
	margin: 0 5px;
}

.nav-links li a {
	font-size: 20px;
	color: #2a1e17;
	text-decoration: none;
	position: relative;
}
.nav-links a::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: darkred;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	transition: width 0.3s linear;
}

.nav-links a:hover,
.nav-links a:hover::after {
	width: 100%;
	color: darkred;
}

/* header buttons */
.header-buttons button {
	appearance: none;
	border: none;
	background: none;
	padding: 14px 20px;
	border-radius: 40px;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s linear;
}
.header-buttons button:not(:last-child) {
	margin-right: 10px;
}
.header-buttons button:hover {
	background-color: #fff;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}
.header-buttons button:active {
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.4);
}

/* header content */
.header-content {
	display: flex;
	margin-top: 50px;
	justify-content: start;
}

.header-title {
	display: flex;
	flex-direction: column;
	font-size: 50px;
	font-weight: 900;
	position: relative;
	z-index: 1;
}

.header-title h1:nth-child(1) {
	margin-bottom: -30px;
}
.header-title h1:nth-child(2) {
	margin-left: 50px;
}
.header-title h1:nth-child(3) {
	margin-top: -30px;
}

.header-img {
	max-width: 748px;
	max-height: 402px;
	position: absolute;
	bottom: -3px;
	right: 5%;
}

.header-img img {
	width: 100%;
	height: 100%;
}
/* section */
section {
	margin-top: 185px;
	position: relative;
}

.section-content {
	display: flex;
	margin-top: 45px;
}

/* search */
.search-bar {
	position: relative;
}
.search-bar input {
	border: none;
	appearance: none;
	background: white;
	font-family: inherit;
	width: 30vw;
	font-size: 16px;
	color: #000;
	padding: 18.5px 25px 18.5px 75px;
	border-radius: 50px;
	transition: all 0.3s linear;
}
.search-bar input::-webkit-search-cancel-button {
	appearance: none;
	height: 20px;
	width: 20px;
	background-size: 20px 20px;
	background-image: url("svg/circle-xmark-solid.svg");
	cursor: pointer;
}
.search-bar input::placeholder {
	color: #b0b0b0;
}
.search-bar input:focus {
	outline: none;
	box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.25);
}
.search-icon {
	width: 20px;
	height: 20px;
	fill: #b0b0b0;
	position: absolute;
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
}
/* aside */
aside {
	margin-right: 50px;
}
/* menu items */
.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #b0b0b0;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-bottom: 10px;
	width: 310px;
	border: 1px solid #b0b0b0;
	border-radius: 50px;
	padding: 14px 0;
}

.menu-item:hover {
	color: #ed6e43;
	background: #fbe9e1;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
}

.menu-item:active {
	background: #ed6e43;
	color: white;
}

.menu-item.active {
	background: linear-gradient(270deg, #e9406f 7.13%, #eb9f45 100%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35);
	color: white;
}

/* select */
.select {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 150px;
	height: 40px;
	cursor: pointer;
}

.option {
	min-height: 40px;
	display: flex;
	align-items: center;
	background: #fff;
	font-weight: 700;
	font-size: 14px;
	color: #2a1e17;
	position: absolute;
	top: 0;
	width: 100%;
	pointer-events: none;
	order: 2;
	z-index: 1;
	transition: all 0.4s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 40px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.option:hover {
	background: #fbe9e1;
	color: #ed6e43;
}

.select:focus .option {
	position: relative;
	pointer-events: all;
}

.select .selectopt {
	opacity: 0;
	position: absolute;
	left: -99999px;
}

.select .selectopt:checked + label {
	order: 1;
	z-index: 2;
	background: #fff;
	border-top: none;
	position: relative;
}

.select .selectopt:checked + label:after {
	content: "";
	width: 8px;
	height: 8px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 1px;
	transform: rotate(45deg);
	position: absolute;
	right: 10px;
	top: calc(50% - 6.5px);
	pointer-events: none;
	z-index: 3;
}

.select .selectopt:checked + label:before {
	position: absolute;
	right: 0;
	height: 40px;
	width: 40px;
	content: "";
	background: #fff;
}
.select-box {
	display: flex;
	background-color: #fff;
	align-items: center;
	justify-content: center;
	width: 240px;
	border-radius: 40px;
}
.select-box p {
	color: #b0b0b0;
	font-weight: 500;
	font-size: 14px;
}

/* card */

.card-items {
	display: flex;
	width: 100%;
	max-width: 1075px;
	flex-wrap: wrap;
}
.card {
	width: 250px;
	background: #ffffff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.3s linear;
	margin-bottom: 20px;
	margin-right: 15px;
}

.card:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	transform: scale(1.05);
}

.card-img {
	position: relative;
}

.card-img img {
	width: 100%;
}

.card-btn {
	width: 35px;
	height: 35px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	position: absolute;
	top: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;
}
.card-btn:hover {
	background-color: white;
	transform: scale(1.1);
}

.card-btn:hover.card-btn svg {
	fill: #e9406f;
}

.card-btn svg {
	width: 20px;
	height: 20px;
	transition: all 0.3s linear;
}

.card-content {
	padding: 7.5px 15px;
}

.card-title {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 30px;
}

.card-frame {
	color: #b0b0b0;
	font-size: 15px;
	margin-bottom: 10px;
}

.card-tag {
	font-size: 12px;
	margin-bottom: 20px;
	padding: 3px 4px;
	position: relative;
}
.card-tag::before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #23c133;
	top: 0;
	left: 0;
}

.not-found {
	color: #000;
	font-size: 30px;
	font-weight: 600;
}
